# cpp object files
*.o

# results files
results/*.csv
results/*.zip

# preprocessed data labels
data/*/Label_*_*.csv
data/*/Label_*_*.zip

data/*_*/Label.csv
data/*_*/Data.csv

# logs
logs/*.csv

# main executable file
main

# idea
.idea

data/cic-unsw-nb15-DoS/*